
.icon-chick:before { content: '\e800'; } /* '' */
.icon-duck:before { content: '\e806'; } /* '' */
.icon-mouse:before { content: '\e807'; } /* '' */
.icon-turttle:before { content: '\e808'; } /* '' */
.icon-zebra:before { content: '\e809'; } /* '' */