
.icon-key:before { content: '\e800'; } /* '' */
.icon-codeopen:before { content: '\e801'; } /* '' */
.icon-dropbox:before { content: '\e802'; } /* '' */
.icon-upload:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-erase:before { content: '\e805'; } /* '' */